<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Website yang menyediakan daftar pilihan kuliner dan restoran terbaik di kota Anda dalam radar Indonesia">
  <meta name="theme-color" content="#008080"/>

  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./icon.png">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css" />
  
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  
  <title>RestoRadarIndo.com</title>
</head>

<body>
  <a href="#maincontent" class="skip-link" tabindex="0">Menuju ke konten</a>

  <header-custom></header-custom>
  <overlay-custom></overlay-custom>
  <jumbotron-custom></jumbotron-custom>

  <main id="maincontent" class="content"></main>

  <footer-custom></footer-custom>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</body>

</html>